* {
   box-sizing: border-box;
}

main {
   display: flex;
}

.image-container {
   position: relative;
   width: 40vw;
   height: 100vh;
}

.image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.image-text-container {
   position: absolute;
   left: 0;
   top: 20%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   text-align: center;
   height: 15vh;
   display: flex;
}

.image-text {
    align-items: center;
    margin: auto;
}

.form-container {
   width: 60vw;
   height: 100vh;
}
