* {
    box-sizing: border-box;
}

main {
    display: flex;
}

.image-container {
    position: relative;
    width: 45vw;
    height: 100vh;
}

.image {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 60vw;
    height: 100vh;
}
